.detail{
    background-color: rgba(0, 0, 0, 0.233);
    padding: 60px;
    margin: auto;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); 
    max-width: 400px; /* Establecer un ancho máximo para el cuadro */
  }
  
.img{
    height: 250px;
    width: 250px;
}