.home {
    text-align: center;
    background-image: url('../../../assets/dogs-black-background-1705x1080-animals-dogs-hd-art-wallpaper-preview.jpg');
    background-size: cover;
    height: 100vh;
  }

  .option{
    background-color: rgb(51, 51, 51);
    border: none;
    border-radius: 1px; /* Hace que los bordes del botón sean redondos */
    color: white;
    box-shadow: 0 0 20px rgba(20, 4, 243, 0.986); 
}